// Body colors
$color-body-bg: #fff;
$color-body-text: #373737;

// Typography
$font-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
$font-body: Arial, $font-fallback;
$font-droid: droid_serifitalic, $font-fallback;

// Colors
$color-brand-green: #4c6e61;
$color-brand-navy: #23366b;
$color-brand-orange: #c6460f;
$color-brand-red: #970d34;
$color-dark-grey: #373737;
$color-medium-grey: #8a959e;
$color-orange: #ee7700;

// Mobile
$trigger-size: 13px;
