.sec-BannerCallToAction {
	position: relative;
	overflow: hidden;
}

.sec-BannerCallToAction_Image {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-attachment: fixed;
	background-image: url(../img/hero-contact.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.sec-BannerCallToAction_Content {
	position: relative;
	text-align: center;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 150px;
	padding-bottom: 150px;
  z-index: 1;
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
}

.sec-BannerCallToAction_SubTitle {
	margin-bottom: 15px;
	color: #8a959e;
	font-size: 16px;
	font-weight: bold;
}

.sec-BannerCallToAction_Title {
	margin-bottom: 30px;
	color: $color-orange;
	font-size: 30px;
}

.sec-BannerCallToAction_Text {
	margin-bottom: 30px;
}

.sec-BannerCallToAction_Link {
	@include button-orange;
}
