.sec-BannerTitle {
	position: relative;
	overflow: hidden;
	padding-top: 150px;
	padding-bottom: 250px;

	.template-homepage & {
	  margin-top: -47px;
		padding-bottom: 200px;
	}

	.template-article & {
		padding-top: 250px;
	}

	&::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.25);
	}
}

.sec-BannerTitle_Image {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;

	.sec-BannerTitle-home & {
		background-image: url(../img/hero-home.jpg);
	}

	.sec-BannerTitle-who & {
		background-image: url(../img/hero-who.jpg);
	}

	.sec-BannerTitle-what & {
		background-image: url(../img/hero-what.jpg);
	}

	.sec-BannerTitle-falmouth & {
		background-image: url(../img/hero-falmouth.jpg);
	}

	.sec-BannerTitle-article & {
		background-image: url(../img/hero-article.jpg);
	}
}

.sec-BannerTitle_Wrap {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;

	.sec-BannerTitle-home & {
		max-width: 950px;
	}
}

.sec-BannerTitle_Content {
	text-align: center;
	position: relative;
	z-index: 1;

	.sec-BannerTitle-home & {
		max-width: 550px;
		text-align: left;
	}
}

.sec-BannerTitle_SubTitle {
	margin-bottom: 10px;
	color: #fff;
	font-size: 24px;
	font-family: $font-droid;
	font-weight: normal;

	.template-homepage & {
		margin-bottom: 20px;
	}
}

.sec-BannerTitle_Title {
	color: #fff;
	font-size: 54px;
	font-weight: bold;
	letter-spacing: -1px;
}

.sec-BannerTitle_Logo {
	color: #fff;
	margin-top: 40px;
  margin-bottom: -40px;
	@include flexbox;
	@include justify-content(center);
}
