.sec-BlogCarousel {
	@include vertical-spacer;
}

.sec-BlogCarousel_Inner {
	@include grid-container-wide;
}

.sec-BlogCarousel_Footer {
	margin-top: 40px;
  display: flex;
}

.sec-BlogCarousel_Link {
	color: $color-orange;
	font-weight: bold;
  display: flex;
  margin-left: auto;
}

.sec-BlogCarousel_Icon {
  margin-left: 20px;
}
