.sec-BlogCarousel {
	@include vertical-spacer;
}

.sec-BlogCarousel_Inner {
	@include container-wide;
}

.sec-BlogCarousel_Header {
  text-align: center;
  margin-bottom: 50px;
  @include container-medium;
}

.sec-BlogCarousel_Footer {
	margin-top: 40px;
  @include flexbox;
}

.sec-BlogCarousel_Link {
	color: $color-orange;
	font-weight: bold;
  margin-left: auto;
  @include flexbox;
}

.sec-BlogCarousel_Icon {
  margin-left: 20px;
}
