.sec-Contact_Inner {
  background-color: #fff;
  @include container-wide;
}

.sec-Contact_Body {
  padding-top: 50px;
  padding-bottom: 50px;

  @include breakpoint('md') {
    @include container-medium;
  }

  @include breakpoint('lg') {
    margin-top: -80px;
    padding-top: 80px;
    padding-bottom: 60px;
  }
}

.sec-Contact_SubTitle {
  margin-bottom: 10px;
  font-family: $font-droid;
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
}

.sec-Contact_Title {
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: -1px;

  @include breakpoint('sm') {
    font-size: 36px;
  }

  @include breakpoint('lg') {
    font-size: 54px;
  }
}

.sec-Contact_SubText {
  margin-bottom: 30px;
  font-family: $font-droid;
  font-size: 18px;
  font-weight: normal;

  @include breakpoint('sm') {
    font-size: 20px;
    line-height: 36px;
  }
}

.sec-Contact_Text {
  margin-bottom: 20px;
}

.sec-Contact_Link {
  color: $color-orange;
  font-weight: bold;
}

.sec-Contact_Items {
  @include breakpoint('sm') {
    @include flexbox;
  }
}

.sec-Contact_Item {
  @include flexbox;
  @include flex-direction(column);
  @include flex(1);
}

.sec-Contact_Item-card {
  @include flex(0 0 65%);
}
