.sec-ContentIntro_Inner {
	background-color: #fff;
	@include container-wide;
}

.sec-ContentIntro_Body {
	padding-top: 50px;
	padding-bottom: 50px;
  border-bottom: 1px solid #d3d3d3;
	@include container-medium;

  @include breakpoint('lg') {
    margin-top: -80px;
    padding-top: 80px;
    padding-bottom: 60px;
  }

	.template-article & {
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.sec-ContentIntro_Heading {
	color: $color-orange;
	margin-bottom: 30px;
	text-align: center;
	letter-spacing: -1px;
}

.sec-ContentIntro_Title {
	color: $color-orange;
	margin-bottom: 30px;
	text-align: center;
	letter-spacing: -1px;
}

.sec-ContentIntro_Date {
	color: $color-medium-grey;
	margin-bottom: 40px;
	font-weight: bold;
	text-align: center;
}

.sec-ContentIntro_Text {
	font-family: $font-droid;
	font-size: 18px;
	line-height: 32px;
	text-align: center;

	@include breakpoint('lg') {
		font-size: 21px;
		line-height: 36px;
  }
}
