.sec-ContentIntro_Inner {
	background-color: #fff;
	@include grid-container-wide;
}

.sec-ContentIntro_Body {
	margin-top: -80px;
	padding-top: 80px;
	padding-bottom: 60px;
	border-bottom: 1px solid #eee;
	@include grid-container-medium;
}

.sec-ContentIntro_Title {
	color: $color-orange;
	margin-bottom: 30px;
	text-align: center;
}

.sec-ContentIntro_Text {
	font-family: $font-droid;
	font-size: 24px;
	line-height: 38px;
	text-align: center;
}