.sec-ContentArea {
	@include vertical-spacer;
}

.sec-ContentArea_Inner {
	@include grid-container-medium;
}

.sec-ContentArea_Body {
	@include grid-container-small;
}

.sec-ContentArea_Title {
	margin-bottom: 30px;
}

.sec-ContentArea_Text {
	margin-bottom: 30px;
}

.sec-ContentArea_Text-diff {
	color: $color-orange;
	font-weight: bold;
	font-size: 22px;
	line-height: 28px;
}

.sec-ContentArea_List {
	list-style-type: disc;
	margin-bottom: 30px;
	margin-left: 30px;

	li {
		margin-bottom: 10px;
		line-height: 24px;
	}
}

.sec-ContentArea_ImageWrap {
	width: calc(100% + 200px);
	margin-bottom: 50px;
	margin-left: -100px;
	padding-top: 20px;
	padding-bottom: 50px;
	border-bottom: 1px solid #eee;
}