.sec-ContentArea {
	@include vertical-spacer;
}

.sec-ContentArea_Inner {
	@include container-medium;
}

.sec-ContentArea_Body {
	@include container-small;
}

.sec-ContentArea_Title {
	margin-bottom: 25px;
	font-size: 30px;
}

.sec-ContentArea_Text {
	margin-bottom: 30px;
}

.sec-ContentArea_Text-diff {
	color: $color-orange;
	font-weight: bold;
	font-size: 18px;
}

.sec-ContentArea_Link {
	@include flexbox-inline;
	@include align-items(center);
	@include button-orange;
}

.sec-ContentArea_Icon {
  margin-top: -4px;
	margin-right: 10px;
}

.sec-ContentArea_List {
	list-style-type: disc;
	margin-bottom: 30px;
	margin-left: 30px;

	li {
		margin-bottom: 10px;
		line-height: 24px;
	}
}

.sec-ContentArea_VideoWrap {
	width: calc(100% + 200px);
	margin-bottom: 50px;
	margin-left: -100px;
	padding-top: 20px;
	padding-bottom: 50px;
	border-bottom: 1px solid #eee;
}

.sec-ContentArea_ImageWrap {
	margin-bottom: 50px;
	padding-top: 20px;
}

.sec-ContentArea_ImageWrap-pushout {
	width: calc(100% + 200px);
	margin-left: -100px;
}

.sec-ContentArea_ImageWrap-border {
	padding-bottom: 50px;
	border-bottom: 1px solid #eee;
}
