.sec-WePartnerWith {
	@include vertical-spacer;
}

.sec-WePartnerWith_Inner {
  @include container-wide;
}

.sec-WePartnerWith_Header {
  @include section-header;
}

.sec-WePartnerWith_Body {
  padding-bottom: 50px;
  border-bottom: 1px solid #eee;

  @include breakpoint('md') {
    @include container-medium;
  }

  @include breakpoint('lg') {
    padding-bottom: 100px;
  }
}
