.sec-WePartnerWith {
	@include vertical-spacer;
}

.sec-WePartnerWith_Inner {
	@include container-wide;
  margin-right: -20px;
  margin-left: -20px;
}

.sec-WePartnerWith_Header {
  @include section-header;
}

.sec-WePartnerWith_Body {
	@include container-medium;
  
  @include breakpoint('lg') {
    padding-bottom: 100px;
    border-bottom: 1px solid #eee;
  }
}
