.sec-BannerTitle {
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.25);
	}
}

.sec-BannerTitle_Image {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.sec-BannerTitle_Image-what {
	background-image: url(../img/temp-what1.jpg);
}

.sec-BannerTitle_Image-falmouth {
	background-image: url(../img/temp-case1.jpg);
}

.sec-BannerTitle_Content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	position: relative;
	text-align: center;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 200px;
	padding-bottom: 260px;
}

.sec-BannerTitle_SubTitle {
	margin-bottom: 20px;
	color: #fff;
	font-family: $font-droid;
}

.sec-BannerTitle_Title {
	color: #fff;
}