// Global resets

a,
area,
button,
[role='button'],
input:not([type='range']),
label,
select,
summary,
textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

input,
select,
textarea {
    border-radius: 0;
}

body:not(.util-IsTabbing) button:focus,
body:not(.util-IsTabbing) input:focus,
body:not(.util-IsTabbing) select:focus,
body:not(.util-IsTabbing) textarea:focus {
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@at-root {
    @viewport {
        width: device-width;
    }
}

html {
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: $font-body;
    text-rendering: optimizeLegibility;
    background-color: $color-body-bg;
    color: $color-body-text;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}

body,
input,
textarea,
button,
select {
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
}

option {
    background-color: #fff;
    color: $color-body-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
  color: $color-medium-grey;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 16px;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid rgba(155, 155, 155, 0.3);
}

ul {
    @include reset-lists;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 24px;
}

:root {
  cursor: auto;
}

a {
    font-weight: inherit;
    text-decoration: none;
    color: currentColor;
}

a:not([class]) {
    font-weight: 500;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

figure {
    margin: 0;
}

img,
picture {
    max-width: 100%;
    margin: 0;
}

svg {
    display: block;
}

table {
    width: 100%;
    table-layout: fixed;
}