.ft-Footer {
  padding-top: 50px;
  padding-bottom: 40px;
  border-top: 1px solid #d3d3d3;
  background-color: #f5f5f5;
}

.ft-Footer_Inner {
  @include container-wide;
}

.ft-Footer_Body {
  position: relative;

  @include breakpoint('sm') {
    @include flexbox;
  }
}

.ft-Footer_Left {
  @include breakpoint('sm') {
    @include flex(1);
  }
}

.ft-Navigation {
  margin-bottom: 15px;
}

.ft-Navigation_Items {
  @include flexbox;
  @include flex-wrap(wrap);
}

.ft-Navigation_Item {
  margin-bottom: 10px;
  @include flex(0 0 50%);

  @include breakpoint('custom-600') {
    @include flex(0 0 33.33%);
  }

  @include breakpoint('sm') {
    margin-right: 30px;
    margin-bottom: 0;
    @include flex(none);
  }

  &:last-child {
    margin-right: 0;
  }
}

.ft-Navigation_Link {
  color: $color-dark-grey;
  @include animated-underline;
}

.ft-Navigation_Link-linkedin {
  display: block;
  padding-bottom: 0;
  font-size: 0;
  @include transition(color 0.3s);

  @include breakpoint('lg') {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
  }

  &:hover {
    background-size: 0 0;
    color: $color-orange;
  }
}

.ft-Copyright {
  color: #7f7f7f;
  font-size: 14px;
  line-height: 18px;

  @include breakpoint('sm') {
    line-height: 26px;
  }
}

.ft-Copyright_Rights {
  display: block;

  @include breakpoint('sm') {
    display: inline-block;
  }
}

.ft-Logo {
  margin-top: 20px;

  @include breakpoint('custom-350') {
    margin-top: 0;
    position: absolute;
    right: 0;
    bottom: -10px;
  }

  @include breakpoint('sm') {
    margin-top: -10px;
    position: static;
  }
}
