.ft-Footer {
  padding-top: 50px;
  padding-bottom: 40px;
  border-top: 1px solid $color-medium-grey;
}

.ft-Footer_Inner {
  @include grid-max-container;
}

.ft-Footer_Body {
  position: relative;

  display: flex;
}

.ft-Footer_Left {
  flex: 1;
}

.ft-Footer_Items {
  display: flex;
}

.ft-Footer_Item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.ft-Footer_Link {
  color: $color-dark-grey;

  &:hover {
    text-decoration: underline;
  }
}