.hd-Header {
  width: 100%;
  position: relative;
  background-color: #fff;
  z-index: 5;

  @include breakpoint('custom-1000') {
    background-color: transparent;
  }
}

.hd-Header_Body {
  @include flexbox;
}

.hd-Header_Logo {
  width: 152px;
  height: 85px;
  color: $color-orange;
  position: relative;
  z-index: 1;
  background-color: #fff;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);

  @include breakpoint('sm') {
    width: 175px;
    height: 100px;
  }

  @include breakpoint('custom-1000') {
    height: 145px;
  }

  .hd-Header_Logo-text {
    fill: $color-dark-grey;
  }
}

.hd-Header_Main {
  @include flex(1);
}

.hd-Header_Navigation {
  @include breakpoint('custom-1000') {
    border-bottom: 10px solid $color-orange;
    background-color: #fff;
    @include flexbox;
    @include flex(1);
  }
}

.hd-Header_Breadcrumb {
  display: none;

  @include breakpoint('custom-1000') {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .template-homepage & {
    display: none;
  }
}

.hd-CEG {
  display: none;

  @include breakpoint('custom-1000') {
    display: block;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: auto;
  }
}

.hd-Navigation {
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 1;
  @include transition(transform 0.3s);
  @include transform(translateY(-100%));

  .hd-Header-active & {
    @include box-shadow(0 20px 30px rgba(0, 0, 0, 0.1));
    @include transform(translateY(85px));

    @include breakpoint('sm') {
      @include transform(translateY(100px));
    }

    @include breakpoint('custom-1000') {
      @include box-shadow(none);
      @include transform(none);
    }
  }

  @include breakpoint('custom-1000') {
    padding-top: 0;
    padding-bottom: 0;
    position: static;
    @include transform(none);
  }
}

.hd-Navigation_Items {
  @include breakpoint('custom-1000') {
    @include flexbox;
  }
}

.hd-Navigation_Item {
  position: relative;
}

.hd-Navigation_Link {
  font-weight: bold;
  color: $color-dark-grey;
  padding: 12px 30px;
  @include flexbox;
  @include transition(color 0.3s);

  @include breakpoint('custom-1000') {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  &:hover {
    color: $color-orange;
  }

  .hd-Navigation_Item-sub:hover & {
    color: $color-orange;
  }
}

.hd-Navigation_Link-active {
  background-color: #ededed;
}

.hd-Navigation_Link-subActive {
  color: $color-orange;

  @include breakpoint('custom-1000') {
    color: $color-dark-grey;
  }
}

.hd-Navigation_Icon {
  margin-left: 15px;
  color: $color-orange;

  @include breakpoint('custom-1000') {
    display: none;
  }
}

.hd-SubNavigation_Items {
  max-height: 0;
  overflow: hidden;

  @include breakpoint('custom-1000') {
    display: block;
    min-width: 250px;
    max-height: none;
    overflow: visible;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 100%;
    left: -35px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    box-shadow: 3px 0 9px rgba(0, 0, 0, 0.22);
    @include transition(opacity 0.3s, visibility 0.3s, transform 0.3s);

    &::before {
      content: '';
      width: 100%;
      height: 13px;
      position: absolute;
      top: -13px;
      left: 0;
      background-image: url(../img/tip.png);
      background-position: top center;
    }

    .hd-Navigation_Item-sub:hover & {
      opacity: 1;
      visibility: visible;
      @include transform(translateY(-10px));
    }
  }
}

.hd-SubNavigation_Items-active {
  max-height: 500px;
  transition: all 0.6s;
}

.hd-SubNavigation_Link {
  display: block;
  font-weight: bold;
  color: $color-dark-grey;
  padding: 10px 30px 10px 45px;

  &:hover {
    background-color: #ededed;
  }
}

.hd-SubNavigation_Link-active {
  background-color: #ededed;
}

.hd-Breadcrumb_Items {
  @include flexbox;
}

.hd-Breadcrumb_Item {
  margin-right: 15px;
  font-size: 14px;
  @include flexbox;

  &:last-child {
    margin-right: 0;
  }
}

.hd-Breadcrumb_Link {
  font-weight: bold;
  color: $color-orange;
  padding-right: 15px;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}

.hd-Breadcrumb_Divide {
  color: $color-medium-grey;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}

.hd-MobileMenu {
  width: 70px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 12px;
  z-index: 9999;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);

  @include breakpoint('sm') {
    top: 18px;
  }

  @include breakpoint('custom-1000') {
    display: none;
  }
}

.hd-MobileMenu_Text {
  display: none;
}
