.blg-List_Items {
  .flickity-prev-next-button {
    background: $color-medium-grey;
    @include border-radius(0);
    @include box-shadow(3px 0 9px rgba(0, 0, 0, 0.16));

    &:active {
      opacity: 1;
    }

    &.previous {
      top: 50px;
      right: -20px;
      left: auto;

      &:hover {
        svg {
          @include transform(translateX(-3px));
        }
      }
    }

    &.next {
      top: 105px;
      right: -20px;
      left: auto;

      &:hover {
        svg {
          @include transform(translateX(3px));
        }
      }
    }

    svg {
       @include transition(transform 0.3s);
    }

    .arrow {
      fill: #fff;
    }
  }
}

.blg-List_Item {
  width: 100%;
}
