.cas-Card {
  display: block;
  overflow: hidden;
}

.cas-Card_Header {
  overflow: hidden;
}

.cas-Card_Body {
  padding-top: 30px;
  position: relative;
  background-color: #fff;
  z-index: 1;

  @include breakpoint('lg') {
    margin-top: -100px;
    margin-right: 150px;
    padding-bottom: 30px;
    padding: 50px 200px 50px 100px;
  }
}

.cas-Card_Image {
  @include transition(transform 0.5s);

  .cas-Card:hover & {
    @include transform(scale(1.04));
  }
}

.cas-Card_SubTitle {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #8a959e;
}

.cas-Card_Title {
  margin-bottom: 15px;
  @include transition(color 0.3s);

  .cas-Card:hover & {
    color: $color-orange;
  }
}

.cas-Card_Icon {
  display: block;
  margin-top: 20px;
  color: $color-orange;

  @include breakpoint('lg') {
    margin-top: 40px;
  }
}
