.flw-Card {
  padding: 50px 30px;
	background-color: #f1f0ef;

  @include breakpoint('sm') {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include breakpoint('md') {
    padding-right: 80px;
    padding-left: 80px;
  }
}

.flw-Card_Title {
	color: $color-orange;
	margin-bottom: 20px;
	font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.flw-Card_TitleLink {
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
}

.flw-Card_Icon {
  margin-left: 15px;
}

.flw-Card_Text {
  text-align: center;
	font-size: 21px;
  line-height: 34px;
	font-family: $font-droid;
}
