.mop-Card_Content {
	padding-top: 20px;
	position: relative;
	background-color: #fff;
	z-index: 1;

  @include breakpoint('sm') {
    margin-top: -30px;
    margin-right: 40px;
    padding: 30px 20px;
  }
}

.mop-Card_Image {
  width: 100%;
}

.mop-Card_Title {
	margin-bottom: 10px;
	color: $color-orange;
  font-weight: bold;
}

.mop-Card_Position {
	color: $color-dark-grey;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}
