.mop-Card_Content {
	margin-top: -30px;
	margin-right: 40px;
	padding: 30px 20px;
	position: relative;
	background-color: #fff;
	z-index: 1;
}

.mop-Card_Title {
	margin-bottom: 15px;
	color: $color-orange;
}

.mop-Card_Position {
	color: $color-dark-grey;
}