.oss-Card {
  display: block;
  overflow: hidden;
}

.oss-Card_Header {
  margin-bottom: 30px;
  overflow: hidden;
}

.oss-Card_Image {
  width: 100%;

  @include breakpoint('custom-1000') {
    @include transition(transform 0.5s);

    .oss-Card:hover & {
      @include transform(scale(1.04));
    }
  }
}

.oss-Card_Title {
	margin-bottom: 20px;

  @include breakpoint('custom-1000') {
    @include transition(color 0.3s);

    .oss-Card:hover & {
      color: $color-orange;
    }
  }
}

.oss-Card_Text {
	margin-bottom: 20px;
}

.oss-Card_Icon {
  display: block;
  margin-top: 20px;
  color: $color-orange;

  @include breakpoint('lg') {
    margin-top: 40px;
  }
}
