.pge-Card {
  display: block;
  overflow: hidden;
}

.pge-Card_Header {
  overflow: hidden;
}

.pge-Card_Body {
  padding-top: 30px;
  position: relative;
  background-color: #fff;
  z-index: 1;

  @include breakpoint('custom-600') {
    margin-top: -50px;
    margin-right: 50px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @include breakpoint('lg') {
    margin-top: -100px;
    margin-right: 150px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
}

.pge-Card_Image {
  width: 100%;
  @include transition(transform 0.5s);

  .pge-Card:hover & {
    @include transform(scale(1.04));
  }
}

.pge-Card_SubTitle {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #8a959e;
}

.pge-Card_Title {
  margin-bottom: 15px;
  @include transition(color 0.3s);

  .pge-Card:hover & {
    color: $color-orange;
  }
}

.pge-Card_Icon {
  display: block;
  margin-top: 20px;
  color: $color-orange;

  @include breakpoint('lg') {
    margin-top: 40px;
  }
}
