.pge-Card_Content {
	margin-top: -100px;
	margin-right: 150px;
	padding: 30px 50px 30px 30px;
	position: relative;
	background-color: #fff;
	z-index: 1;

	// .pge-Card-alt & {
	// 	margin-right: 100px;
	// }
}

.pge-Card_SubTitle {
	margin-bottom: 20px;
}

.pge-Card_Title {
	margin-bottom: 20px;
}