.wep-Card {
  display: inline-block;
	padding: 5px 10px 5px 35px;
  position: relative;
  background-color: $color-orange;

  @include breakpoint('custom-600') {
    display: block;
    padding: 20px 15px 0 35px;
    border-top: 1px solid $color-orange;
    background-color: transparent;
  }

  @include breakpoint('sm') {
    padding: 30px 25px 0 40px;
  }

  @include breakpoint('md') {
    padding: 30px 5px 30px 40px;
  }
}

.wep-Card_Title {
  color: #fff;
  font-size: 16px;
  line-height: 20px;

  @include breakpoint('custom-600') {
    color: $color-dark-grey;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
  }
}

.wep-Card_Text {
  display: none;

  @include breakpoint('custom-600') {
    display: block;
  }
}

.wep-Card_Icon {
  color: #fff;
  position: absolute;
  top: 7px;
  left: 10px;

  @include breakpoint('custom-600') {
    color: $color-orange;
    top: auto;
    left: 0;
  }
}
